.hero {
  height: 410px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url(../../img/hero_bg.jpg);
  padding-top: 80px;

  &__inner {
    @include container();
    padding-left: column(1, 16);
    padding-right: column(1, 16);
  }

  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 135px;
    letter-spacing: 0.05em;
    color: $white;
    margin-bottom: 40px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 90px;
      height: 10px;
      bottom: 0;
      left: 0;

      background: #2F80ED;
      border-radius: 16px;
    }

    &--small {
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 0.05em;
      color: #FEFFFF;

      padding-right: column(4, 14);

      &:after {
        bottom: -40px;
      }
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.05em;
    color: $white;
  }
}
